* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.sectin {
    width: 100%;
    height: 113px;
display: flex;
justify-content: space-around;   
align-items: center;
}

.sectin .icon {
    display: flex;
    gap: 10px;
    color: #FA4A0C;
}
